@{
    ViewBag.Title = "Create new flight";
}
<h2>@ViewBag.Title</h2>

@model WepAppFlight.FlightServiceReference.Flight
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Flight</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FlightNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FlightNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Airline)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Airline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.From)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.From)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.To)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price)
        </div>

        <input type="submit" value="Create new Flight" />
    </fieldset>
}