<h3>@ViewBag.Message</h3>
@if (@ViewBag.Message != "No available flights")
{
    <a class="btn btn-default" onclick="Sort()">Sort by Price</a>
    <table>
        <thead>
            <tr>
                <td>Flight Number</td>
                <td>Airline</td>
                <td>From - To</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody id="flights">
            @foreach (var fl in @ViewBag.Flights)
            {
                <tr align="left">
                    <td>@fl.FlightNumber</td>
                    <td>@fl.Airline</td>
                    <td>@fl.From - @fl.To</td>
                    <td>$@fl.Price</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = @fl.FlightId })<i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            }
        </tbody>
    </table>
    <p></p>
}

<script>
    function Sort() {
        $.get("/Home/SortByPrice", function (data) {
            var $tbody = $('#flights').html(''), newTr;
            for (var i in data) {
                newTr = $('<tr align="left">');
                newTr.append('<td>' + data[i]["FlightNumber"] + '</td>' +
                    '<td>' + data[i]["Airline"] + '</td>' +
                    '<td>' + data[i]["From"] + ' - ' + data[i]["To"] + '</td>' +
                    '<td>$' + data[i]["Price"] + '</td>' +
                    '<td><a href="/Home/Delete/'+data[i]["FlightId"]+'">Delete<i class="fa fa-trash" aria-hidden="true"></i></a></td>');
                $tbody.append(newTr);
            }
        });
    }
    function Delete(fl) {
        $.post("/Home/Delete/");
    }
</script>